/**
	@(#)FileVersion: 812.000.042
	@(#)FileDescription: Style to mouse
	@(#)CompanyName: Meta4 Spain, S.A.
	@(#)LegalCopyright: (c)2014
	@(#)ProductName: PeopleNet KSystem
	@(#)ProductVersion: 8.1SP1
	@(#)InternalName: mouse_wait.css
	@(#)Date: 08/09/2012
*/

#infovis {		
	cursor: wait;		
}

.contentTab {	
	cursor: wait;
}

.TabsMenu {
	cursor: wait;
}

.TabsSubMenu {
	cursor: wait;	
}

.lockHover:hover{	
	cursor : wait;	
}

.box{
	cursor : wait;
}

.divTriangle{
	cursor : wait;
}
