/**********************************************************************/
/* GENERICO */^M^M
/**********************************************************************/
BODY                                            {BACKGROUND-COLOR: #FFFFFF;COLOR:#000000;
						FONT-FAMILY: Verdana,Arial,Helvetica,Sans-Serif;}
TABLE                                           {MARGIN: 0;PADDING:0EM;WIDTH:100%;BORDER:0}

/* ENLACES */
A:link {text-decoration: underline;}
A:visited {text-decoration: underline;}
A:active {text-decoration: underline;}
A:hover {text-decoration: underline;}