body {
  background-color: transparent;
  background-image: url(/iconos/background.gif);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 11px;
  font-family: Verdana, Arial, sans-serif;
 }

.loginheaderleft {
  float: left;
  display: inline;
  background-image: url(/iconos/background_title_left.gif);
  background-repeat: no-repeat;
  width: 292px;
  height: 90px;
  z-index: 0;
}

.logintittle {
  font-family: 'Gill Sans MT', 'Lucida Grande', sans-serif;
  color: white;
  margin: 30px 0px 0px 120px;
  font-size: 22px;
  font-style: italic;
  line-height: 70%;
  z-index: 2;
}

.logintittle #employeetittle {
  font-size: 20px;
}

.logintittle #employeesubtittle {
  float: left;
  margin: 0 40px;
  color: #ace4f5;
  font-size: 12px;
  font-style: normal;
  z-index: 1;
}

.loginheadercenter {
  position: absolute;
  left: 292px;
  background-image: url(/iconos/background_title_center.gif);
  background-repeat: repeat-x;
  background-position: right center;
  height: 82px;
}

.loginheaderight {
  float: right;
  background-image: url(/iconos/background_title_right.gif);
  background-repeat: no-repeat;
  background-position: right center;
  width: 384px;
  height: 82px;
}

.loginseparator {
  float: clear;
  background-color: transparent;
  background-image: url(/iconos/login_sep.gif);
  background-repeat: repeat-x;
  margin: 10px 0;
  width: 100%;
  height: 1px;
}

.loginmain {
  margin: 0px 2% 0px 2%;
}

.loginintro {
  background-color: transparent;
  color: #07346b;
  margin: 0px 10% 0px 10%;
}

.loginintrobold {
  font-weight: bold;
}

.loginintro p {
  margin: 2px auto;
}

.body-content {
  width: 100%;
  min-width: 750px;
  margin: auto;
}

.allbody {
  background-color: transparent;
  background-image: url(/iconos/main_login.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 380px;
  min-width: 750px;
  width: 80%;
  margin: 0 0 2px 0;
}

.frmlogin {
  background-color: transparent;
  background-image: url(/iconos/frm_login.gif);
  background-repeat: no-repeat;
  color: #07346b;
  width: 325px;
  height: 200px;
  margin: 4px 0 0 25%;
}

.frmlogin .loginhead {
  font-weight: bold;
  width: 90%;
  padding: 10px 0 5px 30px;
}

#frmlogin legend {
  margin: 0 0 0 5px;
  font-size: 14px;
  color: #07346b;
  padding: 2px 6px;
}  

#frmlogin label {
  color: #b4b4b4;
  font-size: 11px;
  float: left;
  text-align: left;
  display: block;
  width: 110px;
  margin: 3px 5px 0 20px;
}

#frmlogin .labelfocus {
  color: #07346b;
}

#frmlogin .labelnofocus {
  color: #6b4b07;
}

#frmlogin input {
  font-size: 12px;
  width: 150px;
}

#frmlogin .inputnofocus {
  color: #07346b;
  border: 1px solid #6b4b07;
}

#frmlogin .inputfocus {
  color: #000;
  border: 1px solid #07346b;
}

#frmlogin select {
  width: 155px;
  margin: 2px 0 0 0;
  font-size: 12px;
}

#frmlogin .selectnofocus {
  color: #781351;
  background-color: #f5f5f5;
}

#frmlogin .selectfocus {
  color: #07346b;
}

.datadiv {
  margin: 5px 0 0 0;
  width: 100%;
}

.langdiv {
  margin: 2px;
}

#langdiv span {
  float: left;
  color: #b4b4b4;
  margin: 2px 5px 0 5px;
  font-size: 11px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  border: 2px solid #e8e8d0;
  background-color: white;
}

.forgetdiv {
  background-color: transparent;
  background-image: url(/iconos/frm_key.gif);
  background-repeat: no-repeat;
  height: 28px;
  margin: 5px 0px 0px 30px; 
  padding: 5px 0px 0px 0px;
}

.forgetdiv a {
  text-decoration: none;
  color: #07346b;
  margin: 0px 0px 0px 55px;
  display: block;
}

#enterdiv .enterlogin {
  width: 88px;
  height: 23px;
  cursor: pointer;
  text-align: center;
  margin: 5px 0px 10px 210px;
  font-size: 12px;
  color: #07346b;
}

.frmloginbottom {
  background-color: transparent;
  background-image: url(/iconos/frm_login_bottom.gif);
  background-repeat: no-repeat;
  width: 325px;
  margin: 0px 25% 0px 25%;
  height: 9px;
}

.body-clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}   

.footer-disclaimer {
  min-width: 750px;
  text-align: center;
  font-size: 9px;
  color: #0e033f;
  width: 100%;
}

.footer-disclaimer a {
  text-decoration: none;
  color: #07346b;
}

.divrigth {
  font-size: 0px;
  padding: 1px;
  width: 180px;
  display: block;
  margin: 0px 0 0px 120px;
  height: 0px;
}

.divwrong {
  font-size: 9px;
  height: 12px;
  color: #c51022;
}
